body{
    background:black;
    color:beige;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
h1{
    color: antiquewhite;
    text-indent: 1%;
}
h2{
    color: burlywood;
    text-indent: 1%;
}
h5{
    text-indent: 1%;
    margin-bottom: 0%;
}
h6{
    text-indent: 1%;
    margin: 0%;
}
button{
    display:block;
    padding: 5px;
    border-radius: 15%;
    text-align: center;
}

header{
    background: lightslategray;
    padding: 1%;
}
section{
    background: olivedrab;
    padding: 3%;
    display: flex;
    flex-direction: row;
}
div{
    background: greenyellow;
    width: 30%;
    margin: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    color: honeydew;
    display: inline;
    margin: 0 10% 0 0;
}
p{
    padding: 1% 0% 1% 1%;
    margin: 0%
}
footer{
    background: peru;
    padding: 10%;
}
